fastapi
uvicorn
python-multipart

SQLAlchemy
psycopg2-binary
python-dotenv

openai==2.37.0
json-repair

OpenCC==1.3.1

opencv-contrib-python-headless==4.10.0.84
numpy==2.3.5
pillow==12.1.0

pandas==3.0.2
openpyxl==3.1.5

pdf2image==1.17.0

requests==2.33.1

tavily-python

minio
